* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 70%;
    height: auto;
}

.category-container ul{
    list-style: none;
}

.category-container ul li ul {
    padding: 15px;
}

.shop-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.shopProduct-container {
    width: 25%;
    border: 1px solid black;
    text-align: center;
    height: auto;
    padding: 10px;
}

.shopProduct-image img {
    width: 50%;
}

.shopProduct-button {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 5px;
    background: lightskyblue;
    width: 90%;
}

.shopProduct-button a {
    text-decoration: none;
}

